<div class="margin-1 border-radius " >
    <div class="row">
      <div class="col-8">
        <div class="input-group">
          
          <input type="text" class="form-control" placeholder="Ej. Diego Villacis" aria-label="Username" aria-describedby="basic-addon1">
  
            <span class="input-group-text text-white" id="basic-addon1" style="background-color: teal;"> <i
              class="bi bi-search"></i></span>
        </div>
      </div>
  
      
      <div class="col-4">
  
        
        <button class="btn btn-success w-45">Nueva Factura</button>
      </div>
    </div>
  </div>